.catalog-list {
  background-color: var(--bg-catalog-color);
  display: grid;
  grid-template-columns: repeat(2, 149px);
  grid-template-rows: 150px;
  grid-gap: 1.5em;
  padding: 2em;
  height: 100vh;
  list-style: none;
  overflow: hidden;
}
.catalog-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  box-shadow: #0000000F 6px 9px 15px;
}

.product-header-container {
  overflow: hidden;
  text-transform: lowercase;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.product-header-container img {
  margin-top: -1em;
}

.title-text {
  margin-top: -1.5em;
  color: var(--black-two);
  font-size: 14px;
}
.product-price {
  padding-bottom: 1em;
}
.product-footer {
  text-align: center;
  width: 100%;
  padding: 0.5em 0 0.5em 0;
  color: #ffffffd3;
  font-size: 14px;
  background-color: var(--primary-color);
}

@media screen and (min-width: 1024px) { 
  .catalog-list {
    grid-template-columns: repeat(5, 242px);
    grid-template-rows: 282px;
    grid-gap: 2em;
  }
  .catalog-list li {
    height: 282px;
  }

  .product-footer {
    margin-top: auto;
    font-size: 20px;
  }

  .title-text { 
    font-size: 20px;
    margin-top: -1.5em;
  }
  .product-price {
    padding-bottom: 3em;
  }
  .product-header-container img {
    margin-top: 0.2em;
  }
}