
.aside-bar {
  z-index: 0;
  padding-top: 3em;
  height: 100vh;
  transform-origin: top right;
  display: none;
  position: fixed;
  top: 50px;
  right: 0;
  width: 270px;
  background: transparent linear-gradient(180deg, var(--primary-color) 0%, #DF2330 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #FE4518 0%, #DF2330 100%) 0% 0% no-repeat padding-box;
}
.aside-bar ul {
  margin-left: 2.5em;
  list-style: none;
}

.main-image-container {
  display: none;
}
.main-logo {
  margin: auto;
  width: 95px;
}
.item-container {
  padding: 0.8em;
}
.item-container a {
  color: #ffffffc2;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.item-container p {
  margin-left: 1em;
}
.item-container img {
  margin-right: 1em;
  width: 20px;
  height: 20px;
}
.toggle-display {
  display: block;
}

@media screen and (min-width: 1024px) { 
  .item-container img {
    margin-right: 0;
    width: 30px;
    height: 30px;
  }
  .item-container {
    padding: 1em;
  }
  .main-image-container {
    display: flex;
    justify-content: center;
    padding: 1em;
  }
  .aside-bar {
    padding-top: 0em;
    position: relative;
    top: 0;
    right: 0;
    display: block;
    grid-area: sideBar;
  }
  .toggle-display {
    display: block;
  }
  
}