
.aside-bar {
  transform: scale(0.76);
  transform-origin: top right;
  display: none;
  position: fixed;
  top: 50px;
  right: 0;
  width: 270px;
  background: transparent linear-gradient(180deg, var(--primary-color) 0%, #DF2330 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #FE4518 0%, #DF2330 100%) 0% 0% no-repeat padding-box;
}
.aside-bar ul {
  margin-left: 2.5em;
  list-style: none;
}

.main-image-container {
  display: flex;
  justify-content: center;
  padding: 1em;
}
.main-logo {
  margin: auto;
  width: 95px;
}
.item-container {
  padding: 1em;
}
.item-container a {
  color: #ffffffc2;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.item-container p {
  margin-left: 1em;
}
.item-container img {
  width: 30px;
  height: 30px;
}
.toggle-display {
  display: block;
}

@media screen and (min-width: 1024px) { 
  .aside-bar {
    transform: scale(1);
    position: relative;
    top: 0;
    right: 0;
    display: block;
    grid-area: sideBar;
  }
  .toggle-display {
    display: block;
  }
  
}