.header-container {
  z-index: 3;
  background-color: var(--primary-color);
  padding: 1em;
  display: flex;
  position: sticky;
  top: 0;
}
.hard-shadow {
  box-shadow: #0000006e 0px 16px 50px;
}
.hamburguer-button {
  background-color: transparent;
  outline: none;
  border: none;
  margin-right: 0.8em;
  margin-left: auto;
}

@media screen and (min-width: 1024px) { 
  .header-container {
    display: none;
  }
}